# **Theoretical Questions:**

1. What are data structures, and why are they important?
   - Data structures are specialized formats used to organize, store, and manage data efficiently in a programming        language like Python. They are important because they allow us to access and manipulate data in an organized         way, which improves the performance and readability of our code. By using appropriate data structures, we can        process data more effectively, extract meaningful insights, and solve complex problems more efficiently.

2. Explain the difference between mutable and immutable data types with examples?
   - The main difference between mutable and immutable data types are given below.
   - In mutable data types we can do operations like change,modify,update,add,remove etc.
   - In immutable data types above operations are not possible. Once created cannot be changed. Examples
     are given below.

In [1]:
# Ex: of mutable objects:

number_list = [1,2,3,4,5]
number_list[3]= 9 # here we chage the number 4 by accessing the indexing of the data type.
number_list

[1, 2, 3, 9, 5]

In [2]:
# Ex: of immutable objects:

id_num = (121,221)
id_num[1] = 321 # we tried to do the same and we get an error.
id_num

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
   - So from the above mentioned examples we can understand the difference clearly.
   - The first example shows how we can do any operation in a mutable data set and we used a List for that example.
   - In the next example we used a Tuple to show its immutablity.
   - Both of them has their own purpose. When we will work with dynamic data where all sorts of modifications will be required than we will consider List and when we will work with a data which we do not want chage it than we will use Tuple for that purpose.

4. Describe how dictionaries store data?
   -Dictionaries store data using a unique structure called key-value pairs. Each piece of data is stored as a pair where the key is used to identify the value. For example, if we want to store the capital of India, it would look like this in a dictionary:

In [7]:
print({"India": "Delhi"}["India"])  # Output: Delhi

Delhi

This allows us to quickly access data by referencing its key. In this case, using the key "India" will return the value "Delhi". This makes dictionaries an efficient and organized way to manage data in Python.

5. Why might you use a set instead of a list in Python?
   - There are several reasons why we might choose a set over a list in Python:

No Duplicates Allowed: Sets automatically eliminate duplicate values, ensuring that all elements are unique.

Faster Membership Testing: Sets are optimized for checking whether an item exists, making operations like item in set faster than in lists.

Set Operations: Sets support built-in operations like union, intersection, and difference, which are useful for comparing and combining datasets.

No Need for Order: If your use case doesn't require the data to be in a specific order, sets can be more efficient than lists.

6. What is a string in Python, and how is it different from a list?
   - String is a data type in python which consists of character values. It can be stored in a variable. After get stored in a variable it actually points towards a memeory location in python. Below is an example of a string.We can only define strings by usinh a single or double quotes.

In [8]:
 name = "Sorbasish"

Now we can also distinguish between a string and a list. List is a data structure. In List we can store multiple kinds of data. For example

In [9]:
shoping = ["bags",1,True,2+5j,1.3]

from the above example we can understand the clear difference. Lists can be modified but strings cannot be modified.

7. How do tuples ensure data integrity in Python?
   - As we have alredy discussed earlier that once we create a Tuple, the data inside of it could not be changed or modified. Lets check with another example.

In [12]:
shoping = ["bags",1,True,2+5j,1.3]
shoping = tuple(shoping)
shoping[0]="books" # We tried but failed to do so.

TypeError: 'tuple' object does not support item assignment

So, from the above given example we can now secure our data once we enter it inside of a tuple. Nobody can manipulate the data or if they want they have to deal with a new one which can be identified aganist the original data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index into an array where the value can be found or stored.

In Python, the built-in dictionary (dict) is implemented using a hash table behind the scenes.

In [13]:
my_dict = {"apple": 5, "banana": 3}

Python takes each key "apple" and passes it through a hash function to determine where to store the value 5 in memory.

This allows very fast access to values using keys

9. Can lists contain different data types in Python?
    - Yes, a list can have multiple data types at a same time. Example given below.

In [15]:
shoping1 = ["bags",1,True,2+5j,1.3]
print(shoping1)

['bags', 1, True, (2+5j), 1.3]

Here we have a string,int,boolean,complex,float. all together in a List.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python because once a string is created, its contents cannot be changed. Any action that seems to modify a string actually creates a new string. This helps make strings safer, more efficient, and allows them to be used as keys in dictionaries.

In [16]:
name = "Ram"
name[0] = "S"

TypeError: 'str' object does not support item assignment

In [18]:
name = "Ram"
name = "Sam"   # This creates a new string and assigns it to the variable
name

'Sam'

11. What advantages do dictionaries offer over lists for certain tasks?
    - The main advantage dictionaries gives us over the lists is that the data visualization and manipulation.
    - we can store the data in a key value pair which will help us to identify and manage data with accuracy.
    - The data format in dictionnary will help us to relate within the data and we will able to use it in a more precise manner. dictionaries are better for quick access of data when it is required.

12. Describe a scenario where using a tuple would be preferable over a list?
    - Lets understand the scenario with the help of an example.
    - Suppose we wanted to deal with some data related to a school where we have create a List of students in a class. Here we will prefer a list. Let see with an example.

In [19]:
Math_calss_student_list = ["sorbasish","Tuhinmoy","Arijit","Dibyo","Ankit"]

OK now we have got another task that is we have to create the roll numbers for each student. Here we want each and every student should have unique roll numbers so that they could be identified at any time even if they can have similar names. So in this case we will going to use a Tuple so that after creating the roll numbers for each students could not be changed in any instance.

In [27]:
# Now we got an information that 2 new students are going to join us from today.
# we need to update the students list

In [28]:
Math_calss_student_list = ["sorbasish","Tuhinmoy","Arijit","Dibyo","Ankit"]

In [31]:
Math_calss_student_list.extend(["Souvik","Debtanu"])

In [32]:
Math_calss_student_list

['sorbasish', 'Tuhinmoy', 'Arijit', 'Dibyo', 'Ankit', 'Souvik', 'Debtanu']

In [33]:
Roll_numbers = (1,2,3,4,5,6,7)

In [34]:
# Now someoene tried to chage any one of the roll number and they will get errors.

In [35]:
Roll_numbers[1] = 9

TypeError: 'tuple' object does not support item assignment

So, from the above given examples we are able to understand on what purpose what data structure we need to use to get the results.

13. How do sets handle duplicate values in Python?
    - Sets in Python do not allow duplicate values. If you try to add a duplicate, it will be ignored automatically.
    - When we add elements to a set in Python, each value is passed through a hash function, which gives it a unique hash value. This hash is used to check whether the value already exists in the set.

In [38]:
# Ex: of set

my_set = {1, 2, 2, 3}
print(my_set)

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
    - When we use in as a membership operator to find an element inside of a list it actually access the index of each and every element of that list and if it gets a match then it returns value as true otherwise false.
    - But when in is used for dictionary it uses the key to find the requested element inside the dictionary. The keys are then used as an indexing element. This is how in works for lists and dictionaries.
    - Through looping "in" finds the element in the list but for dictionary it checks the key is present or not.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple.
Tuples in Python are immutable, meaning their elements cannot be changed, added, or removed once the tuple is created.
This makes tuples more memory-efficient and allows them to be used as dictionary keys or in sets.

If a tuple contains a mutable element (like a list), that inner object can be modified, but the tuple structure itself stays unchanged.

In [39]:
t = (1, [2, 3], 4)
t[1][0] = 99  # Allowed (modifying list inside tuple)
print(t)  # (1, [99, 3], 4)

(1, [99, 3], 4)

16. What is a nested dictionary, and give an example of its use case?
    - Nested dctionary is nothing but a dictionary inside of a dictionary. Let say we have some student details and we are having only one student who has his own roll number alloted yet. Now how we are going to showcase this inside a single dictionary. Lets understand this with an example.

In [42]:
students = {
    "Roll_Null": {
        "name": "Rohan",
        "age": 16,
        "grade": "10th"
    },

    "Roll_201": {
    "name": "Rahul",
        "age": 17,
        "grade": "11th"
    }
}

Now from the above example we can get the details of that student who has hot get his roll number yet and we can assign him a roll number anytime we want.

17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements in a dictionary using a key is done in constant time, which means the time complexity is constant time. This is possible because Python dictionaries use a hash table under the hood. When you access a value with a key, Python

Calculates the hash of the key.

Uses that hash to directly locate the value in memory.

No matter how big the dictionary is — whether it has 10 items or 10,000 — accessing an element by key takes the same amount of time on average.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when:
    - Order matters – Lists maintain the insertion order and allow you to access elements by position/index.
    - Data is simple and sequential – If you're storing a sequence of items like numbers, names, or steps in a             process.

      No need for key-value pairs – When there's no meaningful “name” or “label” for each item, just a collection of       values.

      You need duplicates – Lists allow duplicate values, while dictionaries do not allow duplicate keys.

      You want to sort or slice easily – Lists have built-in methods like .sort() and support slicing like                 my_list[1:4].

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they do not use a fixed position or index for storing data like lists do. Instead, dictionaries store data using unique keys, and each key maps directly to a value.

Even though Python 3.7+ maintains the insertion order, the concept of ordering is not important when retrieving data — because access is done by key, not by position.

we cannot use indexes (like dict[0]) to get data.

we must use the correct key to retrieve its value.

The internal arrangement of items does not matter when searching for a key.

In [43]:
student = {
    "name": "Ankita",
    "age": 21,
    "grade": "A"
}

print(student["name"])  
print(student[0])

Ankita

KeyError: 0

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The main difference between a list and a dictionary in terms of data retrieval is how we
      access the elements:

List: Access by Index
Lists store elements in a specific order.

we retrieve data using numeric indexing (starting from 0). Lets understand this with an example.

In [44]:
fruits = ["apple", "banana", "mango"]
print(fruits[1])  # Output: banana

banana

Dictionary: Access by Key
Dictionaries store data as key-value pairs.

we retrieve data using the unique key, not a position.

In [45]:
student = {"name": "Ayan", "age": 20}
print(student["name"])  # Output: Ayan

Ayan

# **Practical Questions:**

In [2]:
# 1. Write a code to create a string with your name and print it?

Name = "Sorbasish Shaw"
print(Name)

Sorbasish Shaw

In [5]:
# 2. Write a code to find the length of the string "Hello World"?

HW = "Hello World"
print(len(HW))

11

In [7]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?

program = "Python Programing"
program[0:3]

'Pyt'

In [15]:
# 4. Write a code to convert the string "hello" to uppercase?

H = "hello"
print(H)
H.upper()

hello

'HELLO'

In [19]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

like = "I like apple"
liking=like.replace("apple","orange")
print(liking)

I like orange

In [21]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?

numbers = [1,2,3,4,5]
print(numbers)
numbers

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [22]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

given_list = [1,2,3,4]
given_list.append(10)
print(given_list)

[1, 2, 3, 4, 10]

In [23]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

given_list1 = [1, 2, 3, 4, 5]
given_list1.remove(3)
print(given_list1)

[1, 2, 4, 5]

In [28]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

given_char_list = ['a', 'b', 'c', 'd']
given_char_list[1]

'b'

In [34]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

given_num_list = [10, 20, 30, 40, 50]
given_num_list.sort(reverse=True)
print(given_num_list)

# or another way

given_num_list1 = [10, 20, 30, 40, 50]
sorted_list = sorted(given_num_list1, reverse=True)
print(f"\n{sorted_list}")        
print(given_num_list1) # Here the original list kept intact.

[50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [35]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup_num = (100, 200, 300)
print(tup_num)

(100, 200, 300)

In [36]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup_colours = ('red', 'green', 'blue', 'yellow')
tup_colours[1:]

('green', 'blue', 'yellow')

In [46]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup_nums = (10, 20, 5, 15)
min(tup_nums)
print(min(tup_nums))

# or another way 

tup_nums = (10, 20, 5, 15)
min_value = tup_nums[0]

for num in tup_nums:
    if min_value>num:
        min_value=num
        print(f"\n{min_value}")

5

5

In [48]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup_animals = ('dog', 'cat', 'rabbit')
tup_animals.index("cat")

1

In [55]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits =  ("banana","apple","orange")

if "kiwi" in fruits:
    print(f"\nKiwi is present")

else:
   print("Kiwi is not present") 

# or we can also do this

"kiwi" in fruits

Kiwi is not present

False

In [56]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

elements = {"a","b","c"}
print(elements)

{'c', 'a', 'b'}

In [58]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

num_set = {1, 2, 3, 4, 5}
num_set.clear()
num_set

set()

In [61]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

nums_set = {1, 2, 3, 4}
nums_set.remove(4)
nums_set

{1, 2, 3}

In [62]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1 | set2

{1, 2, 3, 4, 5}

In [64]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set3 = {1, 2, 3}
set4 = {2, 3, 4}

set3 & set4

{2, 3}

In [66]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

details = {"name":"Sorbasish","Age":29,"City":"Kolkata"}
details
details.keys()

dict_keys(['name', 'Age', 'City'])

In [70]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

given_details = {'name': 'John', 'age': 25}
given_details["country"]= "USA"
given_details

{'name': 'John', 'age': 25, 'country': 'USA'}

In [71]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

given_details1 = {'name': 'Alice', 'age': 30}
given_details1["name"]

'Alice'

In [72]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

given_details2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
given_details2.pop("age")
given_details2

{'name': 'Bob', 'city': 'New York'}

In [73]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [75]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Print them all
print(f"\nList:, {my_list}")
print(f"\nTuple:, {my_tuple}")
print(f"\nDictionary:, {my_dict}")

List:, [1, 2, 3]

Tuple:, ('a', 'b', 'c')

Dictionary:, {'name': 'Alice', 'age': 25}

In [81]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the 
# result.(replaced)

In [85]:
random_number = []

print("Please enter 5 unique numbers from the range from 1 to 100")

while len(random_number)<5:
    nums = int(input(f" Please enter the number {len(random_number)+1}: "))

    if nums<1 or nums>100:
        print("Number must be from 1 to 100. Try again")
    elif nums in random_number:
        print("This number has alredy been takan. Please try another number")
    else:
        random_number.append(nums)

random_number.sort()
print("here is the list with all the unique numbers : ", random_number)

Please enter 5 unique numbers from the range from 1 to 100

 Please enter the number 1:  4
 Please enter the number 2:  5
 Please enter the number 3:  6
 Please enter the number 4:  1
 Please enter the number 5:  2

here is the list with all the unique numbers :  [1, 2, 4, 5, 6]

In [86]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list = [ "Books", "Maps", "Devices","Guns","Foods"]
print(my_list[2])

Devices

In [87]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = dict1 | dict2 # using pipe operator
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [89]:
# 30. Write a code to convert a list of strings into a set.

new_set = set(my_list)
print(type(new_set))
new_set

<class 'set'>

{'Books', 'Devices', 'Foods', 'Guns', 'Maps'}